$color-black: 			#000000;
$color-white: 			#ffffff;

$color-gray-5:    	    #fcfcfc;
$color-gray-10:    	    #f5f7f9;
$color-gray-20:         #d7d7d9;
$color-gray-30:         #edf0f0;
$color-gray-35:         #e3e4e6;
$color-gray-40:         #b3b8c0;
$color-gray-50:         #747880;
$color-gray-60:         #656f73;
$color-gray-80: 		#252525;

$color-green: 		    #2A9260;
$color-green-light: 	#44BB82;


$color-gray-bg: 	    #F5F7F8;
$color-gray-border: 	#E2E4EA;
$color-black: 	        #1E2127;
$color-black-light: 	#545963;
$color-gray: 	        #9198A6;
$color-gray-light: 	    #AFB4C8;


$color-blue-10:		    #d3dae9;
$color-blue-30:		    #4b88b8;
$color-blue-40:		    #00b0e9;
$color-blue-50:         #1c75bc;
$color-blue-60:         #19649f;
$color-blue-80:         #1a3143;
$color-gold:			#ffd54f;
$color-peach:			#ea8f8f;

$font-color_dark:       #2e3033;
$font-color:            #9da1a7;
$font-color_light:      #d3dae9;

$font-family:			"Gilroy-Regular", "Arial", serif;
$font-family_light:		"Gilroy-Light", "Arial", serif;
$font-family_medium:	"Gilroy-Medium", "Arial", serif;
$font-family_bold:		"Gilroy-Bold", "Arial", serif;
$font-family_semibold:	"Gilroy-SemiBold", "Arial", serif;

$font-family_Inter:	            "Inter_Regular", "Arial", serif;
$font-family_Inter-light:	    "Inter_Light", "Arial", serif;
$font-family_Inter-medium:	    "Inter_Medium", "Arial", serif;

$font_default:           14px;