.breadcrumbs {
  margin-bottom: 60px;
  margin-top: 24px;
  &_list {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      overflow: hidden;
      margin-bottom: 5px;
      color: $color-gray;
    }
    li a {
      text-decoration: none;
      padding: 0 16px;
      color: $color-gray;
      font-size: 14px;
      &:hover {
        color: $color-green-light;
      }
    }
    li p {
      color: #000;
      opacity: 0.4;
    }
    li span {
      margin: 0 4px;
    }
    .disabled {
      white-space: nowrap;
      max-width: 250px;
      text-overflow: ellipsis;
      padding-left: 16px;
      font-size: 14px;
    }
  }
  &_link {
    display: none;
  }
}