.btn {
  position: relative;
  vertical-align: top;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 32px;
  border-radius: 5px;
  border: 2px solid #D7DAE5;
  background-color: $color-white;
  color: $color-black;
  font-family: $font-family-Inter_medium;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  outline: 0;
  box-shadow: none;
  min-width: 240px;

  transition: all 0.3s ease-out;

  img {
    margin-right: 12px;
    display: block;
  }

  &:hover,
  &:active,
  &:focus {
    outline: 0;
    text-decoration: none;
  }
  
  &:hover,
  &:focus {
    border-color: #AFB4C8;
  }
  
  &:active {
    border-color: #AFB4C8;
  }
}


.btn_green {
  background-color: $color-green;
  border-color: $color-green;
  padding: 10px 40px;
  color: #fff;
  &:hover,
  &:focus,
  &:active {
    border-color: #2EAB6F;
    background-color: #2EAB6F;
  }
}

.g_transparent {
  border-color: $color-green-light;
  background-color: transparent;
  padding: 10px 40px;
  &:hover,
  &:focus,
  &:active {
    background-color: transparent;
    border-color: #2EAB6F;
  }
}

.btn_border {
  background-color: transparent;
  border-color: $color-green-light;
  &:hover,
  &:focus,
  &:active {
    border-color: $color-green;
    background-color: transparent;
  }
}

.btn_disabled {
  border-color: $color-gray-40;
  background-color: $color-gray-10;
  color: $color-gray-60;
  cursor: default;

  &:hover,
  &:active,
  &:focus {
    border-color: $color-gray-40;
    background-color: $color-gray-10;
    color: $color-gray-60;
  }
}