.btn {
  position: relative;
  vertical-align: top;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 32px;
  border-radius: 5px;
  border: 2px solid #D7DAE5;
  background-color: $color-white;
  color: $color-black;
  font-family: $font-family-Inter;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  outline: 0;
  box-shadow: none;
  min-width: 240px;

  transition: all 0.3s ease-out;

  img {
    margin-right: 12px;
    display: block;
  }

  &:hover,
  &:active,
  &:focus {
    outline: 0;
    text-decoration: none;
  }
  
  &:hover,
  &:focus {
    border-color: $color-gray;
  }
  
  &:active {
    background-color: darken($color-gray-10, 5%);
  }
}


.btn_green {
  background-color: $color-green-light;
  border-color: $color-green-light;
  padding: 10px 40px;
  color: #fff;
  &:hover {
    border-color: #2EAB6F;
    background-color: #2EAB6F;
  }
}

.g_transparent {
  border-color: $color-green-light;
  background-color: transparent;
  padding: 10px 40px;
  &:hover {
    background-color: transparent;
    border-color: #2EAB6F;
  }
}

.btn_disabled {
  border-color: $color-gray-40;
  background-color: $color-gray-10;
  color: $color-gray-60;
  cursor: default;

  &:hover,
  &:active,
  &:focus {
    border-color: $color-gray-40;
    background-color: $color-gray-10;
    color: $color-gray-60;
  }
}

.btn_standart {
  border-color: $color-blue-30;
  background-color: $color-blue-30;
  color: $color-white;

  &:hover,
  &:focus {
    border-color: $color-blue-50;
    background-color: $color-blue-50;
  }

  &:active {
    border-color: darken($color-blue-50, 5%);
    background-color: darken($color-blue-50, 5%);
  }
}


.btn_attach {
  position: relative;
  background-color: transparent;
  padding: 0;
  border: none;
  box-shadow: none;
  outline: 0;
  color: $color-blue-30;
  font-family: $font-family_bold;
  overflow: hidden;
  cursor: pointer;
  
  &:hover {
    color: $color-blue-50;
  }

  & > input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    width: auto;
    height: auto;
    font-size: 20px;
    cursor: pointer;
  }

  &.btn_disabled > input[type=file] {
    display: none;
  }
}

.btn_upload {
  overflow: hidden;

  & > input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    width: auto;
    height: auto;
    font-size: 20px;
    cursor: pointer;
  }

  &.btn_disabled > input[type=file] {
    display: none;
  }
}