.header {
  border-bottom: 1px solid $color-gray-border;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 9;
}

.header__inner {
  width: 100%;
  padding: 24px 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
    .logo_box {
      display: flex;
      align-items: center;
        .burger {
          margin-right: 32px;
        }
    }
    .contact_box {
      display: flex;
      align-items: center;
      justify-content: space-between;
        .phone {
          margin-right: 80px;
        }
    }
}