.link {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  color: $color-black;
  font-size: 16px;
  font-family: $font-family_Inter;

  transition: all 0.3s ease-out;

  &:hover {
    color: $color-green;
  }

  &:focus,
  &:active {
    outline: 0;
    text-decoration: none;
  }
}

.link_img {
  text-decoration: none;
  transition: all 0.3s ease-out;
  &:hover {
    opacity: 0.8;
  }
}

.link_active {
  color: $color-green;
}

.link_green {
  color: $color-green;
}

.link_post {
  position: relative;
  width: fit-content;
  &:after {
    width: 0;
    height: 1px;
    background-color: $color-green-light;
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;

    transition: all 0.3s ease-out;
  }
  &:hover {
    &:after {
      width: 100%;
    }
  }
}

.link_phone {
  position: relative;
  width: fit-content;
  &:after {
    width: 0;
    height: 1px;
    background-color: $color-gray-light;
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;

    transition: all 0.3s ease-out;
  }
  &:hover {
    color: $color-black;
    &:after {
      width: 100%;
    }
  }
}

.link_light {
  color: $color-blue-10;

  &:hover {
    color: $color-blue-50;
  }
}

.link_dark {
  color: $font-color_dark;

  &:hover {
    color: $color-blue-50;
  }
}

.link_blue {
  color: $color-blue-50;
  
  &:hover {
    color: $color-blue-60;
  }
}

.link_underlined {
  text-decoration: underline;

  &:hover {
    text-decoration: underline;
  }
}
