.nav__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;

  & li {
    flex: 0 1 auto;
  }

  & li:first-child .nav__link {
    padding-left: 0;
  }

  & li:last-child .nav__link {
    padding-right: 0;
  }
}

.nav__link {
  @extend .link;
  padding: 0 32px;
  font-size: 15px !important;
  line-height: 18px;
  letter-spacing: -1%;
  text-decoration: none;
  font-family: $font-family-Inter_medium;
    a {
      color: $color-black;
      text-decoration: none;
      &:hover {
        color: $color-green;
      }
    }
}

.nav__list {
  .dropdown {
    .dropdown__text {
      p {
        font-size: 15px;
        color: $color-black;
          &:after {
            width: 6px;
            height: 6px;
            top: 5px;
          }
      }
    }
  }
  .dropdown__list {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    min-width: max-content;
  }
  .dropdown__list li {
    padding: 12px 8px;
    max-width: 230px;
    a {
      color: $color-black-light;
        &:hover {
          color: $color-green;
        }
    }
  }
  .product_list {
    column-count: 2;
  }
  .dropdown__text {
    padding-left: 0;
  }
}