.popup_wrapper {
  position: fixed;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.popup {
  width: auto;
  background-color: $color-white;
  position: absolute;
  transform: translateX(50%);
  right: 50%;
  top: 5%;
  z-index: 5;
  max-width: 768px;
  height: inherit;
  margin: 20px 0;
    &_inner {
      width: 100%;
      padding: 40px;
        &__body {
          background-color: #fff;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
            .popup_title {
              margin-bottom: 32px;
            }
            .pop_body {
              display: flex;
              align-items: flex-start;
              justify-content: space-between;
              margin-bottom: 40px;
                .left {
                  margin-right: 60px;
                  width: 50%;
                  .text_28 {
                    margin-bottom: 20px;
                  }
                }
                .right {
                  width: 50%;
                  .text_28 {
                    margin-bottom: 20px;
                  }
                }
              &__title {
                border-bottom: 1px solid $color-gray-border;
                margin-bottom: 20px;
                .exp {
                  width: 100%;
                  display: flex;
                  margin-bottom: 16px;
                  color: $color-black-light;
                    span {
                      padding: 0 8px;
                      color: $color-gray-border;
                    }
                }
              }
              &__body {
                width: 100%;
                &_item {
                  margin-bottom: 24px;
                  padding-bottom: 12px;
                  border-bottom: 1px solid $color-gray-border;
                    &:last-child {
                      border-bottom: 0;
                    }
                }
              }
            }
          .pop_img {
            width: 100%;
            img {
              width: 100%;
            }
          }
        }
    }
}

.visible_popup {
  visibility: visible;
  opacity: 1;
  transition: all 0.3s ease-out;
  pointer-events: auto;
  overflow-y: auto;
}

.stop {
  overflow: hidden;
}

.closepop {
  position: absolute;
  top: 0;
  right: -60px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 9;
  .round_link {
    margin-right: 0;
    width: 38px;
    height: 38px;
    position: relative;
    span {
      width: 12px;
      transform: rotate(45deg);
      background-color: #fff;
      &:after {
        height: 12px;
        top: -5px;
        left: 5px;
        background-color: #fff;
      }
    }
  }
}

.pb_column {
  flex-direction: column;
}

.pop-v {
  .popup {
    &_inner {
      padding: 0;
        .popup_title {
          padding: 40px 40px 0 40px;
        }
      .pop_body {
        margin-bottom: 0;
      }
      .pop_body__title {
        padding: 0 40px;
      }
      .pop_body__body {
        padding: 0 40px;
      }
    }
  }
}

.question_box {
  background-color: $color-gray-bg;
  width: 100%;
  padding: 40px;
  margin-bottom: 0;
    .qb_body {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
        .left {
          margin-right: 40px;
          .caps_mini {
            margin-bottom: 8px;
          }
          a {
            font-size: 26px;
          }
        }
        .right {
          .caps_mini {
            margin-bottom: 8px;
          }
          a {
            font-size: 26px;
          }
        }
    }
}