#makeMeScrollable
{
  width:100%;
  position: relative;
}

#makeMeScrollable div.scrollableArea *
{
  position: relative;
  display: block;
  float: left;
  padding: 0;
  margin: 0;
    img {
      width: 176px;
      max-height: 115px;
      margin: 0 40px;
    }
}

.gall {
  .scrollWrapper {
    height: 207px;
  }
  img {
    max-width: 320px;
    width: 320px !important;
    max-height: 207px !important;
    height: 207px;
  }
}

div.scrollingHotSpotLeft
{
  min-width: 75px;
  width: 30%;
  height: 100%;
  position: absolute;
  z-index: 200;
  left: 0;
}

div.scrollingHotSpotLeftVisible
{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: transparent;
  padding-left: 40px;
  .arrow {
    height: 3px;
    width: 24px;
    background-color: $color-gray-light;
    position: relative;
    content: '';
    opacity: 0;
    transition: all 0.3s ease-out;
    &:after {
      position: absolute;
      content: '';
      left: 0;
      top: -5px;
      width: 14px;
      height: 14px;
      border-right: 3px solid $color-gray-light;
      border-top: 3px solid $color-gray-light;
      transform: rotate(-135deg);
    }
  }
  &:hover {
    .arrow {
      opacity: 1;
    }
  }
}

div.scrollingHotSpotRight
{
  min-width: 75px;
  width: 30%;
  height: 100%;
  position: absolute;
  z-index: 200;
  right: 0;
}

div.scrollingHotSpotRightVisible
{
  position: absolute;
  right: 60px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .arrow {
    height: 3px;
    width: 24px;
    background-color: $color-gray-light;
    position: relative;
    content: '';
    opacity: 0;
    transition: all 0.3s ease-out;
    &:after {
      position: absolute;
      content: '';
      right: 0;
      top: -5px;
      width: 14px;
      height: 14px;
      border-right: 3px solid $color-gray-light;
      border-top: 3px solid $color-gray-light;
      transform: rotate(45deg);
    }
  }
  &:hover {
    .arrow {
      opacity: 1;
    }
  }
}

div.scrollWrapper
{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 115px;
}

div.scrollableArea
{
  position: relative;
  width: auto;
  height: 100%;
}