.grid_block {
  max-width: 1400px;
  min-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.link_arrow {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  transition: all 0.3s ease-out;
    span {
      font-size: 16px;
      margin-right: 12px;
      font-family: $font-family_Inter-medium;
    }
  img {
    opacity: 0.5;
    transition: all 0.3s ease-out;
  }
  &:hover {
    color: $color-black;
    img {
      opacity: 1;
    }
  }
}

.section_top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
    .right {
      padding-right: 32px;
      a {
        color: $color-black;
        text-decoration: none;
        font-family: $font-family_medium;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.3px;
        position: relative;
          .arrow {
            position: relative;
          }
      }
    }
}

.section_body {
  width: 100%;
    &__inner {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
}

.tile {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;
  margin-bottom: 80px;
  &__item {
    width: calc(33.333% - 22px);
    margin-right: 32px;
    cursor: pointer;
    color: $color-black;

    text-decoration: none;
    &:nth-child(3n+3) {
      margin-right: 0;
    }
    .image {
      width: 100%;
      margin-bottom: 20px;
      overflow: hidden;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        will-change: transform;
        width: 100%;
        display: block;
        //transform: scale(1.0);
        transform: translate3d(0, 0, 0);
        transition: all 1s ease-out;
      }
        .play {
          position: absolute;
          z-index: 2;
          img {
            transform: none;
          }
        }
    }

    &_text  {
      .date {
        color: $color-gray;
        text-transform: uppercase;
        margin-bottom: 20px;
        font-size: 12px;
      }
      .title {
        font-size: 20px;
        line-height: 24px;
        font-family: $font-family_semibold;
        max-width: 90%;
        margin-bottom: 12px;
        color: $color-black;
          span {
            //border-color: transparent;
            transition: all 0.3s ease-out;
          }
      }
      .descr {
        color: $color-black-light;
      }
    }
    &:hover {
      .image {
        img {
          width: 100%;
          transform: scale(1.03);
          -webkit-transform: scale(1.03);
          -moz-transform: scale(1.03);
          -o-transform: scale(1.03);
        }
      }
      .play {
        img {
          transform: none;
        }
      }
      //.title {
      //  span {
      //    border-bottom: 1px solid #AFB4C8;
      //    transition: all 0.3s ease-out;
      //  }
      //}
    }
  }
}

.tile_article {
  .tile__item {
    width: calc(50% - 22px);
    margin-right: 32px;
    position: relative;

    border-top: 1px solid $color-gray-border;
    &_arrbox {
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 12px;
        .title {
          max-width: 200px;
        }
    }
    &_top {
      padding-top: 20px;
      margin-bottom: 32px;
      color: $color-black-light;
        .date {
          color: $color-gray;
          text-transform: uppercase;
          font-size: 12px;
        }
    }
    &:nth-child(3n+3) {
      margin-right: 32px;
    }
    &:nth-child(2n) {
      margin-right: 0;
    }
    &:after {
      content: '';
      position: absolute;
      top: -1px;
      left: 0;
      width: 0;
      height: 1px;
      background-color: #AFB4C8;
      transition: all 0.3s ease-out;
    }
    &:hover {
      &:after {
        width: 100%;
        transition: all 0.3s ease-out;
      }
    }
  }
}

.tile_manuf {
  .tile__item {
    padding-bottom: 32px;
    border-top: 0;
    border-bottom: 1px solid $color-gray-border;
    &_img {
      img {
        width: 100%;
      }
    }
    &_arrbox {
      img {
        transition: all 0.3s ease-out;
        opacity: 0.6;
      }
    }
    .main_16 {
      max-width: 80%;
    }
    &:after {
      bottom: -1px;
      top: auto;
    }
    &:hover {
      .tile__item_arrbox {
        img {
          opacity: 1;
        }
      }
    }
  }
}

.tile_boss {
  .tile__item {
    cursor: default;
    .image {
      max-width: 280px;
        img {
          transform: none;
        }
    }
    .tile__item_text {
      max-width: 280px;
    }
    &:hover {
      img {
        transform: none;
      }
    }
  }
}

.tile_4 {
  .tile__item {
    width: calc(25% - 24px);
    margin-right: 32px;
    padding: 20px 32px 60px 32px;
    box-shadow: 0;
    transition: all 0.3s ease-out;
    cursor: pointer;
    position: relative;
    &:nth-child(4n+4) {
      margin-right: 0;
    }
    &_top {
      border-bottom: 1px solid $color-gray-border;
      margin-bottom: 32px;
    }
    &_body {
      margin-bottom: 32px;
        .inter_16 {
          color: $color-black;
        }
    }
    .round_link {
      position: absolute;
      bottom: 20px;
    }
    &:hover {
      box-shadow: 0 15px 30px rgba(0, 0, 0, 0.06);
        .round_link {
          border-color: $color-gray;
            span {
              background-color: $color-gray;
                &:after {
                  background-color: $color-gray;
                }
            }
        }
    }
  }
}

.gray {
  background-color: $color-gray-bg;
  padding: 80px 0;
}

.green_bg {
  background-color: $color-green;
  padding: 80px 0;
}

.white {
  background-color: $color-white;
}

.round_link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid $color-gray-border;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  transition: all 0.3s ease-out;
  span {
    width: 12px;
    height: 2px;
    background-color: #CED2DC;
    position: relative;
    content: '';
    transition: all 0.3s ease-out;
    &:after {
      position: absolute;
      content: '';
      right: 5px;
      top: -5px;
      width: 2px;
      height: 12px;
      background-color: #CED2DC;
      transition: all 0.3s ease-out;
    }
  }
}

.link_with-arrow {
  position: relative;
  display: flex;
  align-items: center;
  color: $color-black;
  text-decoration: none;
  .arrow {
    margin-left: 12px;
    left: 100%;
    height: 1px;
    width: 16px;
    background-color: #CED2DC;
    position: absolute !important;
    content: '';
    will-change: width;
    transition: all 0.4s ease-out;
    &:after {
      position: absolute;
      content: '';
      right: 0;
      top: -3px;
      width: 7px;
      height: 7px;
      border-right: 1px solid #CED2DC;
      border-top: 1px solid #CED2DC;
      transform: rotate(45deg);
    }
  }
  &:hover {
    transition: all 0.4s ease-out;
    .arrow {
      width: 20px;
    }
  }
}

.mobile {
  display: none;
}

.mobile_video {
  display: none;
}

.mobile_link {
  display: none;
}

.burger {
  display: none;
}

.mobile_img {
  display: none;
}

.boss {
  display: none;
}

.show_more {
  width: 100%;
  border-top: 1px solid $color-gray-border;
  margin-bottom: 60px;
    &__link {
      width: 100%;
      padding: 20px 0;
      display: flex;
      align-items: center;
      justify-content: center;
        a {
          font-size: 14px;
          font-family: $font-family-Inter-medium;
          display: flex;
          align-items: center;
          justify-content: center;
          text-transform: lowercase;
            .round_link {
              margin-right: 12px;
              width: 28px;
              height: 28px;
                span {
                  width: 10px;
                    &:after {
                      height: 10px;
                      top: -4px;
                      left: 4px;
                    }
                }
            }
          &:hover {
            color: $color-black;
            .round_link {
              border-color: #AFB4C8;
                span {
                  background-color: #AFB4C8;
                  &:after {
                    background-color: #AFB4C8;
                  }
                }
            }
          }
        }
    }
}

.gb_animate {
  opacity: 0;
}

.gs_animate {
  opacity: 0;
}

.tile_category {
  flex-direction: column;
  width: 100%;
    .tile__item {
      border: 1px solid $color-gray-border;
      width: 100%;
      margin-right: 0;
      margin-bottom: 0 !important;
      padding: 56px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      box-shadow: 0;
      transition: all 0.4s ease-out;
      margin-top: -1px;
        .left {
          margin-right: 40px;
        }
        .right {
          .charact {
            width: 100%;
            margin-bottom: 0;
              &__item {
                display: flex;
                align-items: center;
                padding: 16px 0;
                .text {
                  width: 100%;
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                    p {
                      margin-bottom: 0;
                    }
                }
              }
          }
        }
      &:hover {
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.06);
      }
    }
}

.green_block {
  .btn_green:first-child {
    background-color: $color-green-light;
    border-color: $color-green-light;
    &:hover,
    &:focus,
    &:active {
      border-color: #2EAB6F;
      background-color: #2EAB6F;
    }
  }
}

.all_pages_list {
  padding: 56px 0;
  li {
    margin-bottom: 12px;
    font-size: 24px;
    a {
      font-size: 24px;
        &:hover {
          color: $color-black;
        }
    }
  }
}

.gray_main {
  padding: 80px 0 0 0;
}

.search_page__box {
  max-width: 960px;
  margin: 0 auto;
  min-width: 960px;
}

.search_link__item {
  margin-bottom: 32px;
  border-bottom: 1px solid $color-gray-border;
  padding-bottom: 20px;
    .main_16 {
      margin-bottom: 20px;
    }
    a {
      font-size: 12px;
    }
}

.search_block {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  z-index: 52;
  background-color: #fff;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  transition: all 0.3s ease-out;

  visibility: hidden;
  opacity: 0;
  transform: translateY(-20%);


    &__inner {
      max-width: 960px;
      min-width: 960px;
      margin: 0 auto;
      padding: 56px 0;
    }
  .close_pop {
    transform: rotate(45deg);
    cursor: pointer;
    z-index: 52;
    transition: all 0.4s ease-out;
      &:hover {
        opacity: 0.7;
        transition: all 0.3s ease-out;
      }
  }
}

.visible_search {
  visibility: visible;
  opacity: 1;
  transform: translateY(0%);
}

.about_page {
  .show_more {
    margin-top: 20px;
  }
}

.about_descr {
  .left {
    img {
      width: 100%;
    }
  }
  .right {
    .caps {
      margin-bottom: 40px;
    }
    .text_28 {
      margin-bottom: 32px;
    }
  }
}

.reference_tile {
  width: 100%;
  &__item {
    border-top: 1px solid #AFB4C8;
    padding-top: 40px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
      .left_text {
        margin-right: 40px;
        width: 50%;
        display: flex;
          .point {
            font-size: 28px;
            font-family: $font-family;
            color: #AFB4C8;
            margin-right: 20px;
          }
          .text {
            .text_28 {
              margin-bottom: 20px;
            }
            .client {
              margin-bottom: 20px;
              display: flex;
              align-items: center;
                span {
                  margin: 0 12px;
                  color: $color-gray-border;
                }
            }
            .ref_descr {
              color: $color-black-light;
              p:first-child {
                margin-bottom: 20px;
              }
            }
          }
       }
      .right_img {
        width: 50%;
        img {
          width: 100%;
          height: auto;
        }
      }
  }
}

.full_img {
  width: 100%;
  height: auto;
}

.kb_right {
  .full_img {
    margin-bottom: 40px;
  }
  .tile_gray {
    margin-top: 40px;
      .tile__item {
        &_title {
          border-bottom: 1px solid $color-gray;
          padding-bottom: 12px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 12px;
            span {
              font-size: 64px;
              line-height: 64px;
              margin-right: 6px;
            }
        }
      }
  }
}

.kb_left {
  border-right: 0 !important;
}

.text_margin {
  margin-bottom: 20px;
}

.text_last {
  margin-bottom: 56px;
}

.title_last {
  margin-bottom: 36px;
}

.sections_menu {
  ul {
    //width: 100% !important;
    li {
      display: flex;
      align-items: center;
        img {
          margin-right: 20px;
        }
    }
  }
}

.pu_img {
  width: 100%;
  position: relative;
  margin-bottom: 40px;
  img {
    width: 100%;
  }
  .pu_text {
    position: absolute;
    z-index: 1;
    bottom: 40px;
    left: 40px;
      h2 {
        margin-bottom: 12px;
      }
      .caps_mini {
        color: #fff;
      }
  }
}

.slider_container {
  padding-bottom: 20px;
  border-bottom: 1px solid $color-black;
  position: relative;
  margin-bottom: 56px;
    .pu_slide {
      img {
        width: 100%;
      }
    }
    .slider_descr {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 20px;
        p {
          color: $color-black;
        }
    }
  .btns {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
      .btn_slides {
        cursor: pointer;
        transition: all 0.3s ease-out;
          &:hover {
            opacity: 0.7;
          }
      }
  }
}

.categories_body {
  .right {
    .tile_category .tile__item {
      justify-content: space-between;
      .left {
        width: 40%;
        border-right:0;
      }
      .right {
        padding-left: 0;
        width: 60%;
      }
    }
  }
}

.video_main {
  width: 100%;
  height: 100%;
  min-height: 780px;
}


.current {
    &:after {
      width: 100% !important;
    }
}